* {
    font-family: 'cursive';
}

.jumbo-bg {
    background: url('../images/header-background.png') no-repeat center transparent;
    background-size: cover;
    font-family: cursive;
}

.demo-text {
    font-size: 14px;
    font-family: cursive;
}

.card .card-header {
    font-size: 15px;
    font-weight: bold;
    font-family: cursive;
}

#selDataset {
    font-size: 14px;
    font-family: cursive;
}

.belly-bg {
    background-color: #4a6887 !important
}

.header-font {
    font-family: 'Playfair Display', serif;
    color: rgb(246, 246, 247);
}